@{
	this.Layout = "~/Views/Shared/_Basic.cshtml";
	this.ViewBag.Title = "首页";
}

@section Styles
{
	<link rel="stylesheet" type="text/css" href="~/Styles/Main/Index.css" />
}

<div class="wrapper">
	<aside class="banner"></aside>
	<article class="content">
		<aside class="menubar"></aside>
		<article class="container">
			<iframe name="container" width="100%" height="100%" frameborder="0"></iframe>
		</article>
	</article>
</div>

@section Scripts
{
	<script type="text/javascript" src="~/Scripts/Main/Index.js"></script>
}